:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-clr-modal-form__btn: #f5f4fa;
  --card-set-gap: 30px;
  --bg-color-hero: #e5e5e5;
  --color-icon: #afb1b8;
  --color-icon-bg: #44454e;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input {
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: var(--primary-text-color);
  margin: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

@media screen and (max-width: 1199.98px) {
  .title {
    margin-bottom: var(--card-set-gap);
  }
}

@-webkit-keyframes animate-modal-form__btn {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes animate-modal-form__btn {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes changeBgColor {
  0% {
    background-color: white;
  }
  50% {
    background-color: #c2daf7;
  }
  100% {
    background-color: #c7f3f1;
  }
}

@keyframes changeBgColor {
  0% {
    background-color: white;
  }
  50% {
    background-color: #c2daf7;
  }
  100% {
    background-color: #c7f3f1;
  }
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .logo__header {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo__header {
    margin-right: 93px;
  }
}

.logo__title {
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo__title--white {
  color: #ffffff;
}

@media screen and (max-width: 767.98px) {
  .navigation {
    display: none;
  }
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__item {
  margin-right: 50px;
}

.navigation__item:last-child {
  margin-right: 0;
}

.navigation__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: var(--transition-duration) var(--transition-timing-function);
  -o-transition: var(--transition-duration) var(--transition-timing-function);
  transition: var(--transition-duration) var(--transition-timing-function);
  color: var(--title-text-color);
}

.navigation__link--current {
  color: var(--accent-color);
}

.navigation__link:hover, .navigation__link:focus, .navigation__link:focus, .navigation__link--current:active {
  color: var(--accent-color);
}

.navigation__link--current::after {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  background: var(--accent-color);
  border-radius: 2px;
}

.contact__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

@media screen and (max-width: 767.98px) {
  .contact__list {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contact__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .contact__item:last-child {
    margin-left: 50px;
  }
}

.contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  -webkit-transition: var(--transition-duration) var(--transition-timing-function);
  -o-transition: var(--transition-duration) var(--transition-timing-function);
  transition: var(--transition-duration) var(--transition-timing-function);
  color: var(--primary-text-color);
}

.contact__link:hover, .contact__link:focus {
  color: var(--accent-color);
}

.contact__link:hover .contact__icon,
.contact__link:focus .contact__icon {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .contact__link {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .contact__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contact__icon {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
  fill: var(--primary-text-color);
}

.burger-menu {
  background-color: #ffffff;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100vw);
      -ms-transform: translateX(-100vw);
          transform: translateX(-100vw);
  -webkit-transition: opacity 1000ms, -webkit-transform var(--transition-timing-function);
  transition: opacity 1000ms, -webkit-transform var(--transition-timing-function);
  -o-transition: opacity 1000ms, transform var(--transition-timing-function);
  transition: opacity 1000ms, transform var(--transition-timing-function);
  transition: opacity 1000ms, transform var(--transition-timing-function), -webkit-transform var(--transition-timing-function);
}

.burger-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: opacity 1000ms, -webkit-transform 1000ms 250ms ease-in-out;
  transition: opacity 1000ms, -webkit-transform 1000ms 250ms ease-in-out;
  -o-transition: opacity 1000ms, transform 1000ms 250ms ease-in-out;
  transition: opacity 1000ms, transform 1000ms 250ms ease-in-out;
  transition: opacity 1000ms, transform 1000ms 250ms ease-in-out, -webkit-transform 1000ms 250ms ease-in-out;
}

@media screen and (min-width: 768px) {
  .burger-menu {
    display: none;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.burger-menu__open-btn {
  background-color: #ffffff;
  border: none;
}

.burger-menu__open-btn:hover, .burger-menu__open-btn:focus {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .burger-menu__open-btn {
    display: none;
  }
}

.burger-menu__backdrop {
  width: 100vw;
  height: 100vh;
}

.burger-menu__wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  padding: 48px 40px;
}

.burger-menu__close-btn {
  background-color: #ffffff;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
}

.burger-menu__close-btn:hover, .burger-menu__close-btn:focus {
  fill: var(--accent-color);
}

.burger-menu__nav-item:not(:last-child) {
  margin-bottom: 32px;
}

.burger-menu__nav-link {
  position: relative;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  padding: 4px;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.burger-menu__nav-link--active, .burger-menu__nav-link:hover, .burger-menu__nav-link:focus {
  color: var(--accent-color);
}

.burger-menu__contact {
  margin-top: auto;
}

.burger-menu__contact-item:not(:last-child) {
  margin-bottom: 32px;
}

.burger-menu__contact-phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.burger-menu__contact-email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.burger-menu__social {
  margin-top: 64px;
}

.burger-menu__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.burger-menu__social-item:not(:last-child) {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.burger-menu__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

body.menu-open {
  overflow: hidden;
}

.button {
  width: 200px;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  border-width: inherit;
  background-color: var(--accent-color);
  color: #ffffff;
}

.button:hover, .button:focus {
  background-color: #188ce8;
}

.overlay {
  max-width: 1600px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url(../img-studio/header.jpeg);
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img-studio/header.jpeg);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img-studio/header.jpeg);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img-studio/header.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(47, 48, 58, 0.4);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition: opacity 1000ms, visibility 600ms;
  -o-transition: opacity 1000ms, visibility 600ms;
  transition: opacity 1000ms, visibility 600ms;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  border-radius: 3px;
  padding: 40px;
  background-color: #ffffff;
  -webkit-animation-name: changeBgColor;
          animation-name: changeBgColor;
  -webkit-animation-duration: 4000ms;
          animation-duration: 4000ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  z-index: 3;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
}

.modal-btn__icon-close {
  -webkit-transition: var(--transition-duration) var(--transition-timing-function);
  -o-transition: var(--transition-duration) var(--transition-timing-function);
  transition: var(--transition-duration) var(--transition-timing-function);
}

.modal-btn__icon-close:hover, .modal-btn__icon-close:focus {
  fill: var(--accent-color);
}

.modal-form__title {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.modal-wrapper {
  margin-bottom: 20px;
}

.modal-wrapper.modal-form__group + .modal-form__group {
  margin-top: 10px;
}

.modal-form__group {
  display: block;
  position: relative;
  width: 100%;
}

.modal-form__label {
  display: block;
  text-align: start;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal-form__input {
  position: relative;
  width: 100%;
  height: 40px;
  padding: 11px 12px 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  outline: transparent;
  -webkit-transition: var(--transition-duration) var(--transition-timing-function);
  -o-transition: var(--transition-duration) var(--transition-timing-function);
  transition: var(--transition-duration) var(--transition-timing-function);
}

.modal-form__input:hover, .modal-form__input:focus {
  border: 1px solid var(--accent-color);
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__input:hover + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  top: 50%;
  left: 12px;
  -webkit-transition: var(--transition-duration) var(--transition-timing-function);
  -o-transition: var(--transition-duration) var(--transition-timing-function);
  transition: var(--transition-duration) var(--transition-timing-function);
}

.modal-form__message {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  cursor: pointer;
  -webkit-transition: var(--transition-duration) var(--transition-timing-function);
  -o-transition: var(--transition-duration) var(--transition-timing-function);
  transition: var(--transition-duration) var(--transition-timing-function);
}

.modal-form__message:hover, .modal-form__message:focus {
  border: 1px solid var(--accent-color);
}

.modal-form__message::-webkit-input-placeholder {
  opacity: 0.5;
}

.modal-form__message:-ms-input-placeholder {
  opacity: 0.5;
}

.modal-form__message::-ms-input-placeholder {
  opacity: 0.5;
}

.modal-form__message::placeholder {
  opacity: 0.5;
}

.modal-policy__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.custom-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 7px;
  border-radius: 2px;
  outline: 2px solid var(--title-text-color);
  outline-offset: -2px;
  -webkit-transition: background-color var(--transition-duration) var(--transition-timing-function);
  -o-transition: background-color var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.custom-checkbox__icon {
  opacity: 0;
}

.custom-checkbox:focus {
  outline: var(--accent-color);
}

.checkbox:checked + .custom-checkbox .custom-checkbox__icon {
  opacity: 1;
  fill: #ffffff;
}

.checkbox:checked + .custom-checkbox {
  background-color: var(--accent-color);
  outline: var(--accent-color);
  -webkit-transition: var(--transition-duration) var(--transition-timing-function);
  -o-transition: var(--transition-duration) var(--transition-timing-function);
  transition: var(--transition-duration) var(--transition-timing-function);
}

.modal-policy__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.modal-policy__link {
  text-decoration: underline;
  margin-left: 3px;
  color: var(--accent-color);
}

.modal-form__btn {
  display: block;
  margin: 0 auto;
  -webkit-transition: var(--transition-duration) var(--transition-timing-function);
  -o-transition: var(--transition-duration) var(--transition-timing-function);
  transition: var(--transition-duration) var(--transition-timing-function);
}

.modal-form__btn:hover, .modal-form__btn:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 1199.98px) {
  .footer__address {
    margin-bottom: 60px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer__address {
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__address {
    margin-right: 70px;
  }
}

.address {
  margin-top: 20px;
}

.address-text {
  display: block;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: center;
  color: #ffffff;
}

.address__link {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address .address__item + .address__item {
  padding-top: 9px;
}

@media screen and (min-width: 1200px) {
  .network-address {
    margin-right: 93px;
  }
}

.network-address__slogan {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .network-address__slogan {
    text-align: start;
  }
}

.network-address__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1199.98px) {
  .network-address__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.network-address__item:not(:last-child) {
  margin-right: 10px;
}

.network-address__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: var(--transition-duration) var(--transition-timing-function);
  -o-transition: var(--transition-duration) var(--transition-timing-function);
  transition: var(--transition-duration) var(--transition-timing-function);
  background-color: var(--color-icon-bg);
}

.network-address__link:hover, .network-address__link:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.network-address__icon {
  fill: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer-form {
    margin-left: auto;
  }
}

@media screen and (max-width: 767.98px) {
  .footer-form {
    margin-top: 60px;
  }
}

.footer-form__title {
  display: block;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  color: #ffffff;
}

@media screen and (max-width: 1199.98px) {
  .footer-form__title {
    text-align: center;
  }
}

.footer-form__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767.98px) {
  .footer-form__contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-form__contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer-form__input {
  display: inline-block;
  width: 358px;
  padding: 15px 16px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: transparent;
  outline: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-form__input:hover, .footer-form__input:focus {
  border: 1px solid var(--accent-color);
}

@media screen and (max-width: 767.98px) {
  .footer-form__input {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .footer-form__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 358px;
    margin-right: 12px;
  }
}

@media screen and (max-width: 1199.98px) {
  .footer-form__input {
    margin-bottom: 20px;
  }
}

.footer-form__btn-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-form__icon {
  fill: #ffffff;
  margin-left: 10px;
}

.buttons-filter__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  cursor: pointer;
  -webkit-transition: var(--transition-duration) var(--transition-timing-function);
  -o-transition: var(--transition-duration) var(--transition-timing-function);
  transition: var(--transition-duration) var(--transition-timing-function);
  color: var(--title-text-color);
  background-color: var(--background-clr-modal-form__btn);
}

.buttons-filter__btn--current, .buttons-filter__btn:hover, .buttons-filter__btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.buttons-filter__btn.current:focus, .buttons-filter__btn.current:active {
  background-color: var(--accent-color);
}

.buttons-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 767.98px) {
  .buttons-filter {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .buttons-filter {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .buttons-filter {
    margin-bottom: 50px;
  }
}

.buttons-filter__item {
  height: 38px;
  min-width: 73px;
}

@media screen and (max-width: 767.98px) {
  .buttons-filter__item {
    margin-bottom: 15px;
  }
}

.buttons-filter__item:not(:last-child) {
  margin-right: 8px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
}

.header__container--border {
  border-bottom: 1px solid #ececec;
}

.hero {
  margin-left: auto;
  margin-right: auto;
  padding: 118px 0;
  width: 100vw;
}

.hero__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .hero__page {
    padding: 200px 0;
    max-width: 1600px;
  }
}

.hero__title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
  }
}

@media screen and (min-width: 480px) {
  .hero__title {
    max-width: 360px;
    font-size: 26px;
    line-height: 1.6;
  }
}

.hero__button {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  -webkit-animation: animate-modal-form__btn 3000ms infinite 1000ms;
          animation: animate-modal-form__btn 3000ms infinite 1000ms;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .features__list {
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 1199.98px) {
  .features__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .features__item:not(:first-child) {
    margin-left: var(--card-set-gap);
  }
}

@media screen and (max-width: 767.98px) {
  .features__item {
    width: 450px;
  }
  .features__item:not(:last-child) {
    margin-bottom: var(--card-set-gap);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .features__item {
    width: 354px;
  }
  .features__item:nth-child(2n) {
    margin-left: var(--card-set-gap);
  }
  .features__item:nth-child(-n + 2) {
    margin-bottom: var(--card-set-gap);
  }
}

.features__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .features__icon {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .features__icon {
    width: 270px;
  }
}

.features__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.features__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  width: 450px;
}

@media screen and (min-width: 768px) {
  .features__text {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .features__text {
    width: 270px;
  }
}

.main-task {
  padding-bottom: 94px;
}

.main-task__item {
  position: relative;
}

@media screen and (max-width: 1199.98px) {
  .main-task {
    display: none;
  }
}

.main-task__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-task__list .main-task__item + .main-task__item {
  margin-left: var(--card-set-gap);
}

.main-task__box {
  position: absolute;
  content: '';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.main-task__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  background: #f5f4fa;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.member {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

.member__discription {
  padding-top: 30px;
  padding-bottom: 30px;
}

.member__name {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.member__text {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  color: var(--primary-text-color);
}

@media screen and (min-width: 1200px) {
  .member {
    width: 270px;
  }
  .member:not(:last-child) {
    margin-right: var(--card-set-gap);
  }
}

@media screen and (max-width: 767.98px) {
  .member {
    width: 450px;
  }
  .member:not(:last-child) {
    margin-bottom: var(--card-set-gap);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .member {
    width: 354px;
  }
  .member:nth-child(2n) {
    margin-left: var(--card-set-gap);
  }
  .member:nth-child(-n + 2) {
    margin-bottom: var(--card-set-gap);
  }
}

.member__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.member__social-item:not(:last-child) {
  margin-right: 10px;
}

.member__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  cursor: pointer;
  border-radius: 50%;
  -webkit-transition: var(--transition-duration) var(--transition-timing-function);
  -o-transition: var(--transition-duration) var(--transition-timing-function);
  transition: var(--transition-duration) var(--transition-timing-function);
  background-color: #ffffff;
  color: var(--color-icon);
}

.member__social-link:hover, .member__social-link:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.member__social-icon {
  fill: currentColor;
}

.cleint__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1200px) {
  .client__item {
    width: 170px;
  }
  .client__item:not(:last-child) {
    margin-right: var(--card-set-gap);
  }
}

@media screen and (max-width: 767.98px) {
  .client__item {
    width: 210px;
  }
  .client__item:nth-child(2n) {
    margin-left: var(--card-set-gap);
  }
  .client__item:nth-child(-n + 4) {
    margin-bottom: var(--card-set-gap);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .client__item {
    width: 226px;
  }
  .client__item:not(:nth-child(3n-2)) {
    margin-left: var(--card-set-gap);
  }
  .client__item:nth-child(-n + 3) {
    margin-bottom: var(--card-set-gap);
  }
}

.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92px;
  cursor: pointer;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: var(--transition-duration) var(--transition-timing-function);
  -o-transition: var(--transition-duration) var(--transition-timing-function);
  transition: var(--transition-duration) var(--transition-timing-function);
  color: var(--color-icon);
}

.client__link:hover, .client__link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.client__icon {
  fill: currentColor;
}

.footer {
  background: #2f303a;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (max-width: 767.98px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.portfolio-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .portfolio-gallery {
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
  }
}

.portfolio-gallery__text {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.portfolio-gallery__card {
  position: relative;
  overflow: hidden;
}

.portfolio-gallery > .portfolio-gallery__item {
  margin-top: var(--card-set-gap);
  background: #ffffff;
}

@media screen and (max-width: 767.98px) {
  .portfolio-gallery > .portfolio-gallery__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-gallery > .portfolio-gallery__item {
    -ms-flex-preferred-size: calc(100% / 2 - var(--card-set-gap));
        flex-basis: calc(100% / 2 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-gallery > .portfolio-gallery__item {
    -ms-flex-preferred-size: calc(100% / 3 - var(--card-set-gap));
        flex-basis: calc(100% / 3 - var(--card-set-gap));
  }
}

.portfolio-gallery__text-transform {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  opacity: 0;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform var(--transition-duration) var(--transition-timing-function);
  transition: -webkit-transform var(--transition-duration) var(--transition-timing-function);
  -o-transition: transform var(--transition-duration) var(--transition-timing-function);
  transition: transform var(--transition-duration) var(--transition-timing-function);
  transition: transform var(--transition-duration) var(--transition-timing-function), -webkit-transform var(--transition-duration) var(--transition-timing-function);
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.portfolio-gallery__link {
  -webkit-transition: var(--transition-duration) var(--transition-timing-function);
  -o-transition: var(--transition-duration) var(--transition-timing-function);
  transition: var(--transition-duration) var(--transition-timing-function);
}

.portfolio-gallery__link:hover, .portfolio-gallery__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-gallery__link:hover .portfolio-gallery__text-transform,
.portfolio-gallery__link:focus .portfolio-gallery__text-transform {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 1;
}

.portfolio-gallery .portfolio-gallery__discription {
  display: block;
  padding: 20px 24px;
  text-align: start;
  border: 1px solid #eeeeee;
}

.portfolio-gallery .portfolio-gallery__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
/*# sourceMappingURL=main.css.map */