:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-clr-modal-form__btn: #f5f4fa;
  --card-set-gap: 30px;
  --bg-color-hero: #e5e5e5;
  --color-icon: #afb1b8;
  --color-icon-bg: #44454e;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;
}
