.footer__address {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-right: 70px;
}

.address {
  margin-top: 20px;

  &-text {
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: #ffffff;
  }
  &__link {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
  }
}
.address .address__item + .address__item {
  padding-top: 9px;
}
