.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  color: var(--accent-color);

  &__header {
    @include mq(tablet) {
      margin-right: 88px;
    }
    @include mq(desktop) {
      margin-right: 93px;
    }
  }
  &__title {
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;

    color: #000000;
  }
  &__title--white {
    color: #ffffff;
  }
}
