.navigation {
  @include mq(mobile-only) {
    display: none;
  }
}

.navigation__list {
  display: flex;
  align-items: center;
}
.navigation__item {
  margin-right: 50px;

  &:last-child {
    margin-right: 0;
  }
}

.navigation__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: var(--transition-duration) var(--transition-timing-function);

  color: var(--title-text-color);

  &--current {
    color: var(--accent-color);
  }
  &:hover,
  &:focus,
  &:focus,
  &--current:active {
    color: var(--accent-color);
  }

  &--current::after {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;

    background: var(--accent-color);
    border-radius: 2px;
  }
}
