.network-address {
  @include mq(desktop) {
    margin-right: 93px;
  }

  &__slogan {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;

    color: #ffffff;

    @include mq(desktop) {
      text-align: start;
    }
  }

  &__list {
    display: flex;
    @include mq(not-desktop) {
      justify-content: center;
    }
  }

  &__item:not(:last-child) {
    margin-right: 10px;
  }
}

.network-address__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: var(--transition-duration) var(--transition-timing-function);

  background-color: var(--color-icon-bg);

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: var(--accent-color);
  }
}
.network-address__icon {
  fill: #ffffff;
}
