.overlay {
  max-width: 1600px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../img/desktop/img-studio/header.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(47, 48, 58, 0.4);

  // Для мобильной версии
  @include mq(mobile) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../img/mobile/img-studio/img-hero.jpeg);

    @include mq(retina2x) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../img/mobile/img-studio/img-hero@2x.jpeg);
    }
  }

  // Для планшетной версии
  @include mq(tablet) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../img/tablet/img-studio/img-hero.jpeg);

    @include mq(retina2x) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../img/mobile/img-studio/img-hero@2x.jpeg);
    }
  }

  // Для десктопной версии
  @include mq(desktop) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../img/desktop/img-studio/img-hero.jpeg);

    @include mq(retina2x) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../img/desktop/img-studio/img-hero@2x.jpeg);
    }
  }
}
