.hero {
  margin-left: auto;
  margin-right: auto;

  padding: 118px 0;
  width: 100vw;

  &__page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    @include mq(desktop) {
      padding: 200px 0;
      max-width: 1600px;
    }
  }

  &__title {
    align-items: center;
    width: 696px;
    margin-left: auto;
    margin-right: auto;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #ffffff;

    @include mq(desktop) {
      max-width: 696px;
    }

    @include mq(mobile) {
      max-width: 360px;

      font-size: 26px;
      line-height: 1.6;
    }
  }

  &__button {
    margin-top: 30px;

    margin-left: auto;
    margin-right: auto;

    animation: animate-modal-form__btn 3000ms infinite 1000ms;
  }
}
